<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>4B41DCF4-EF7E-40A8-1631-887E80140B04</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
